<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Sample App Home</h1>
    <p>
      This is the home for Sample App for
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>.
    </p>
  </body>
</html>
